html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', cursive;
}

.container {
  width: 600px;
  margin: 3rem auto;
  border: 2px solid black;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.judul {
  color: white;
 font-weight: bold;
 text-align: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
  font-size: 19px;
}

.footer {
  margin-top: 15px;
  align-self: center;
}

#input {
  margin-top: 2rem;
  padding: 5px;
}
#tombol {
  background-color: aqua;
  padding: 5px 15px;
  font-weight: bold;
  transition: .5s;
}

#tombol:hover {
  background-color: white;
  color: aqua;
  font-weight: bold;
}

.box {
  padding: 5px;
  width: 300px;
  background-color: rgba(25, 206, 238, 0.685);
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  
}

.dua {
  align-self: flex-start;
}

.satu {
  align-self: flex-end;
}

footer {
  align-self: center;
  
}